body {
    margin: 0;
    background-color: #FFFFFF;
    overflow-x: hidden;
    font-family: Arial, Helvetica, sans-serif;
    
}

* {
    box-sizing: border-box;
}

  /* NAVBAR STYLING */
#header {
    background-color: #212121;
    display: flex;
    height: 10vh;
    width: 100vw;
    position: fixed; top: 0; left: 0; right: 0;
    z-index: 1;
    
}

#logo {
    display: flex;
    flex-grow: 6;
    justify-content: flex-start;
    align-items: center;
    margin-left: 15px;
    color: #FFFFFF;
}

#headerTag {
    color: #FFFFFF;
    font-size: 36px;
}



 a {
     text-decoration: none;
     color: #FFFFFF;
 }


#logodiv {
    display: flex;
    flex-grow: 1;
    justify-content: flex-end;
    align-items: center;
    margin-right: 35px;
}

#iconCart {
    font-size: 25px;
    color: #FFFFFF;
    margin-right: 5px;
}

#purchase {
    color: #FFFFFF;
    font-size: 30px;
    margin-right: 5px;
}


/* END OF NAVBAR STYLING */

/* Start of Main styling / Products. */

main {
    display: flex;
    flex-wrap: wrap;
    padding-top: 200px;
    justify-content: center;
}

#kundvagnTitle {
    display: flex;
    justify-content: flex-start;
    position: absolute;
    flex-direction: column;
    align-items: flex-start;
    margin-top: -100px;
    color: #212121;
}

h1 {
    font-size: 40px;
}

.productCardContainer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    background-color: #F5F5F5;
    align-items: center;
    flex-wrap: wrap; 
    margin: 5px;
    

}

.productCard {
    width: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 2px solid #5596F5;
    padding: 5px;
    border-radius: 12px;
    font-weight: bolder;
}


.priceOfProduct {
    text-align: center;
    color: #212121;
    margin: 3px;
    font-weight: bold;
}

img {
    height: 170px;
    width: auto;
    object-fit: contain;
    background-position: center;
}

.titleOfProduct {
    color: #212121;
    text-align: center; 
    margin: 0px;
}


/* START OF BUTTONSTYLING STARTVIEW */

.removeCartItems {
    display: flex;
    background-color: #E64E4E;
    color: #FFFFFF;
    border-radius: 8px;
    border: none;
    width: 9vw;
    height: 4vh;
    align-items: center;
    justify-content: center;
    margin: 8px;

}

h4 {
    margin: 10px;
}

section {
    display: flex;
    margin-top: 20px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


b {
    color: #212121;
}

.purchaseBtn {
    width: 10vw;
    height: 6vh;
    margin: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #FFFFFF;
    background-color: #5596F5;
    border: none;
    border-radius: 5px;
}
/* mediaQ for phone */
@media only screen and (max-width: 767.98px) {
    .purchaseBtn {
        width: 40vw;
        height: 4vh;

    }
    .removeCartItems {
        
        width: 30vw;
        height: 4vh;
       
    }
    #logodiv {
        
        margin-right: 15px;
    }
}
/* mediaQ for tablet / ipad pro */
@media only screen and (max-width: 1024px) and (min-width: 900px) {
    main {
        padding-top: 300px;
    }
    img {
        height: 300px;
    }
    .removeCartItems {
        width: 15vw;
        font-size: 20px;
        height: 3vh;
    }
    .titleOfProduct {
       font-size: 48px;
    }
    .priceOfProduct {
       font-size: 20px;
    }
    #kundvagnTitle {
        
        position: absolute; top: 20vh;  
    }
    h1 {
        font-size: 72px;
    }
    #headerTag {    
        font-size: 60px;
    }
    #iconCart {
        font-size: 50px;
    }
    
    #purchase {
       font-size: 60px;
    }
    .purchaseBtn {
        width: 30vw;
        height: 4vh;
        font-size: 20px;
    }
    b { 
        font-size: 25px;
    }
    main {
       
        padding-top: 400px;
       
    }
}

/* menu styling */
#signinIcon {
    font-size: 25px;
    color: #FFFFFF;
    margin-right: 5px;
    
}

#signinIcon:hover {
    cursor: pointer;
    font-size: 30px;
}

nav {
    padding-top: 80px;
    width: 100vw;
    display: none;
    
}

.nav-item {
    width: 15vw;
    height: 8vh;
    margin-left: 2px;
    border: none;
    border-radius: 5px;
    font-family: cursive;
    color: white;
    background-color: #212121;
    
}

.nav-item:hover {
    background-color: black;
}

#close-menu {
    width: 31vw;
    margin-top: 2px;
    height: 4vh;
    border: none;
    border-radius: 5px;
    font-family: cursive;
    color: white;
    background-color: #212121
}

#close-menu:hover {
    background-color: black;
}

#menu {
    display: flex;
    width: 100vw;
    justify-content: center;
    
}
