* {
    box-sizing: border-box;
}
body {
    margin: 0;
    background-color: #FFFFFF;
    overflow-x: hidden;
    font-family: Arial, Helvetica, sans-serif;
}

  /* #1 styles navbar */
#header {
    background-color: #212121;
    display: flex;
    height: 10vh;
    width: 100vw;
    position: fixed; top: 0; left: 0; right: 0;
    z-index: 1;
}

#logo {
    display: flex;
    flex-grow: 6;
    justify-content: flex-start;
    align-items: center;
    margin-left: 15px;
    color: #FFFFFF;
}

#headerTag {
    color: #FFFFFF;
    font-size: 36px;
}

a {
    text-decoration: none;
    color: #FFFFFF;
}

#logodiv {
    display: flex;
    flex-grow: 1;
    justify-content: flex-end;
    align-items: center;
    margin-right: 35px;
}

#iconCart {
    font-size: 25px;
    color: #FFFFFF;
    margin-right: 5px;
}

#purchase {
    color: #FFFFFF;
    font-size: 30px;
    margin-right: 5px;
}

/*#2 style custumer-menu*/
#signinIcon {
    font-size: 25px;
    color: #FFFFFF;
    margin-right: 5px; 
}

#signinIcon:hover {
    cursor: pointer;
    font-size: 30px;
}

nav {
    padding-top: 80px;
    width: 100vw;
    display: none; 
}

.nav-item {
    width: 15vw;
    height: 8vh;
    margin-left: 2px;
    border: none;
    border-radius: 5px;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    background-color: #212121; 
}

.nav-item:hover {
    background-color: black;
}

#close-menu {
    width: 30vw;
    margin-top: 2px;
    height: 4vh;
    border: none;
    border-radius: 5px;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    background-color: #E64E4E;
}

#close-menu:hover {
    background-color: black;
}

#menu {
    display: flex;
    width: 100vw;
    justify-content: center;
}


/* #3 styles main / productcards, product-img */
main {
    display: flex;
    flex-wrap: wrap;
    padding-top: 200px;
    justify-content: center;
}

#kundvagnTitle {
    display: flex;
    justify-content: flex-start;
    position: absolute;
    flex-direction: column;
    align-items: flex-start;
    margin-top: -100px;
    color: #212121;
}

h1 {
    font-size: 40px;
}

.productCardContainer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    background-color: #F5F5F5;
    align-items: center;
    flex-wrap: wrap; 
    margin: 5px;
}

.productCard {
    width: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 2px solid #5596F5;
    padding: 5px;
    border-radius: 12px;
    font-weight: bolder;
}

.priceOfProduct {
    text-align: center;
    color: #212121;
    margin: 3px;
    font-weight: bold;
}

img {
    height: 170px;
    width: auto;
    object-fit: contain;
    background-position: center;
}

.titleOfProduct {
    color: #212121;
    text-align: center; 
    margin: 0px;
}

/*  #3 log-in and register styling */
.removeCartItems {
    display: flex;
    background-color: #E64E4E;
    color: #FFFFFF;
    border-radius: 8px;
    border: none;
    width: 9vw;
    height: 4vh;
    align-items: center;
    justify-content: center;
    margin: 8px;
}


/* styles header and "din kundvagn är tom"-header */
h4 {
    margin: 10px;
}

section {
    display: flex;
    margin-top: 20px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

b {
    color: #212121;
}

/* styles button, "Slutför ditt köp" */
.purchaseBtn {
    width: 10vw;
    height: 6vh;
    margin: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #FFFFFF;
    background-color: #5596F5;
    border: none;
    border-radius: 5px;
}

/* mediaQ for phone X*/
@media only screen and (max-width: 767.98px) {
/* styles buttons, "Slutför ditt köp" and "Ta bort" with iphone X*/
.purchaseBtn {
    width: 40vw;
    height: 4vh;
}

.removeCartItems { 
    width: 30vw;
    height: 4vh;
}

/* styles logo */
#logodiv {
    margin-right: 15px;
}

/* styles menu-icon width iphone X*/
#signinIcon {
    font-size: 25px;
    color: #FFFFFF;
    margin-right: 5px;   
}

/* styles menu-cart */
nav {
    padding-top: 90px;
    width: 100vw;
}

.nav-item {
    width: 20vw;
    height: 6vh;
    margin-left: 2px;
}

#close-menu {
    margin-top: 2px;
    width: 40vw;
    height: 3vh;
    border: none;
    border-radius: 5px;
}
}

/* mediaQ for tablet / ipad pro */
@media only screen and (max-width: 1024px) and (min-width: 900px) {
/* styles main, titles and productcard with ipad pro */
main {
    padding-top: 400px;
}

img {
    height: 300px;
}

.removeCartItems {
    width: 15vw;
    font-size: 20px;
    height: 3vh;
}

.titleOfProduct {
    font-size: 48px;
}

.priceOfProduct {
    font-size: 20px;
}

#kundvagnTitle {
    position: absolute; top: 20vh; 
    font-size: 72;
}

h1 {
    font-size: 72px;
}

#headerTag {    
    font-size: 60px;
}

/* styles navbar icon, purchase with ipad pro */
#iconCart {
    font-size: 50px;
}

#purchase {
    font-size: 60px;
}

/* styles purchase-button */
.purchaseBtn {
    width: 30vw;
    height: 4vh;
    font-size: 20px;
}

b { 
    font-size: 25px;
}
     
/* menu styling with ipad pro */
nav {
    width: 100vw;
    display: none;
    margin-top: 100px;
}

.nav-item {
    width: 25vw;
    height: 6vh;
    font-size: 30px;
}

#close-menu {
    width: 50vw;
    height: 4vh;
    font-size: 30px;
}

/* styles navbar-menu */
#signinIcon {
     font-size: 50px;
     margin-right: 5px;
}  

#headerTag {
    font-size: 60px;
}

#iconCart {
    font-size: 50px;      
    margin-right: 5px;
}

#purchase {     
    font-size: 60px;
    margin-right: 5px;
}

/* styles "Din varukorg är tom" with ipad pro */
h2 {
    font-size: 50px;
}
}