* {
    box-sizing: border-box;
}
body {
    margin: 0;
    background-color: #FFFFFF;
    overflow-x: hidden;
    font-family: Arial, Helvetica, sans-serif;;
}

/* #1 navbar-styling */
#header {
    background-color: #212121;
    display: flex;
    height: 10vh;
    width: 100vw;
    position: fixed; top: 0; left: 0; right: 0;
}

#logo {
    display: flex;
    flex-grow: 6;
    justify-content: flex-start;
    align-items: center;
    margin-left: 15px;
    color: #FFFFFF;
}

#headertag {
    color: #FFFFFF;
    font-size: 36px;
}

a {
    text-decoration: none;
    color: #FFFFFF;
}

#logodiv {
    display: flex;
    flex-grow: 1;
    justify-content: flex-end;
    align-items: center;
    margin-right: 35px;  
}

#iconCart {
    font-size: 25px;
    color: #FFFFFF;
    margin-right: 5px;
}

#purchase {
    color: #FFFFFF;
    margin-right: 5px;
    font-size: 30px;
}

/* #2 style order-menu */
#signinIcon {
    font-size: 25px;
    color: #FFFFFF;
    margin-right: 5px; 
}

#signinIcon:hover {
    cursor: pointer;
    font-size: 30px;
}

nav {
    padding-top: 80px;
    width: 100vw;
    display: none;    
}
/* styles buttons in menu */
.nav-item {
    width: 15vw;
    height: 8vh;
    margin-left: 2px;
    border: none;
    border-radius: 5px;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    background-color: #212121;
}

.nav-item:hover {
    background-color: black;
}
/* styles close-button */
#close-menu {
    width: 30vw;
    margin-top: 2px;
    height: 4vh;
    border: none;
    border-radius: 5px;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    background-color: #E64E4E;
}

#close-menu:hover {
    background-color: black;
}

#menu {
    display: flex;
    width: 100vw;
    justify-content: center; 
}

/* styling order-main */
main {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding-top: 15vh;
}

.orderDiv {
    display: flex;
    flex-direction: column;
    border: solid;
    border-width: 1px;
    width: 100vw;
    height: auto;
    background-color:rgba(128, 128, 128, 0.808); 
}

.orderText {
    display: flex;
    justify-content: center;
    color:  #212121;;
}

.ordersHeader {
    color:  #212121;;
}

.priceOfProduct {   
    text-align: center;
    color: #212121;
    margin-bottom: 15px;
}

.titleOfProduct {
    color: #212121;
    text-align: center; 
    margin-right: 5px;
    margin-left: 5px;
    font-size: 20px;
}

/* mediaQ for iphone X */
@media only screen and (max-width: 767.98px) {
/* styles header in order-startview with iphone X */
.ordersHeader {
    font-size: 25px;
}

/* styles menu in order-startview with iphone X */
nav {
    padding-top: 90px;
    width: 100vw;
    display: none;
}
    
.nav-item {
    width: 20vw;
    height: 6vh;
    margin-left: 2px;
}

#close-menu {
    margin-top: 2px;
    width: 40vw;
    height: 3vh;
}
    
#menu {
    display: flex;
    width: 100vw;
    justify-content: center; 
} 
}

/* mediaQ for ipad pro */
@media only screen and (max-width: 1024px) and (min-width: 900px) {
/* styles navbar in order-startview width ipad pro */
#signinIcon {
    font-size: 50px;
    margin-right: 5px;
}
       
#headerTag {
    font-size: 60px;
}
   
#iconCart {
    font-size: 50px;      
    margin-right: 5px;
}
   
#purchase {     
    font-size: 60px;
     margin-right: 5px;
   }

/* styles menu in order-startview with ipad pro */
nav {
    width: 100vw;
    margin-top: 100px;
}

.nav-item {
    width: 25vw;
    height: 6vh;
    font-size: 30px;
}
    
#close-menu {
    width: 50vw;
    height: 4vh;
    font-size: 30px;
}
}