body {
    margin: 0;
    background-color: #FFFFFF;
}

* {
    box-sizing: border-box;
}

  /* NAVBAR STYLING */
#header {
    background-color: #212121;
    display: flex;
    height: 60px;
    width: 100vw;
    position: fixed;

}

#logo {
    display: flex;
    flex-grow: 6;
    justify-content: flex-start;
    align-items: center;
    margin: 5px;
    color: #FFFFFF;
}

h1 {
    color: #FFFFFF;
}


 a {
     text-decoration: none;
 }


#logodiv {
    display: flex;
    flex-grow: 1;
    justify-content: flex-end;
    align-items: center;
}

i {
    font-size: 30px;
    color: #FFFFFF;
    margin-right: 5px;
}

#purchase {
    color: #FFFFFF;
}


/* END OF NAVBAR STYLING */

