body {
    margin: 0;
    background-color: #FFFFFF;
    overflow-x: hidden;
    font-family: Arial, Helvetica, sans-serif;
    
}

* {
    box-sizing: border-box;
}

  /* NAVBAR STYLING */
#header {
    background-color: #212121;
    display: flex;
    height: 10vh;
    width: 100vw;
    position: fixed; top: 0; left: 0; right: 0;
    
}

#logo {
    display: flex;
    flex-grow: 6;
    justify-content: flex-start;
    align-items: center;
    margin-left: 15px;
    color: #FFFFFF;
}

#headerTag {
    color: #FFFFFF;
    font-size: 36px;
}



 a {
     text-decoration: none;
     color: #FFFFFF;
 }


#logodiv {
    display: flex;
    flex-grow: 1;
    justify-content: flex-end;
    align-items: center;
    margin-right: 35px;
}

#iconCart {
    font-size: 25px;
    color: #FFFFFF;
    margin-right: 5px;
}

#purchase {
    color: #FFFFFF;
    font-size: 30px;
    margin-right: 5px;
}


/* END OF NAVBAR STYLING */

/* Start of Main styling / Products. */

main {
    display: flex;
    flex-wrap: wrap;
    padding-top: 50px;
}

.productCardContainer {
    width: 100vw;
    height: 90vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
    background-color: #FFFFFF;
    align-items: center;
    flex-wrap: wrap; 
    
}

.productCard {
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.productCard:hover {
    background-color: #F5F5F5;
}


.productDescription {
    text-align: center;
    color: #212121;
    font-weight: bold;
    margin: 10px;
    font-size: 12px;
    
}

.priceOfProduct {
    text-align: center;
    color: #212121;
    margin: 10px;
}

img {
    height: 340px;
    width: 200px;
    object-fit: contain;
    background-position: center;
}

.titleOfProduct {
    color: #212121;
    text-align: center; 
    margin: 0px;
}


/* START OF BUTTONSTYLING STARTVIEW */

.startViewButton {
    display: flex;
    background-color: #5596F5;
    color: #FFFFFF;
    border-radius: 8px;
    border: none;
    width: 20vw;
    height: 6vh;
    align-items: center;
    justify-content: center;

}

h3 {
    margin: 10px;
}
/* mediaQ for phone */
@media only screen and (max-width: 767.98px) {
    .startViewButton {
        display: flex;
        background-color: #5596F5;
        color: #FFFFFF;
        border-radius: 8px;
        border: none;
        width: 75vw;
        height: 6vh;
        align-items: center;
        justify-content: center;
    }
    .productDescription {
        text-align: center;
        color: #212121;
        font-weight: bold;
        margin: 10px;
        font-size: 10px;  
    }
    #logodiv {
        display: flex;
        flex-grow: 1;
        justify-content: flex-end;
        align-items: center;
        margin-right: 15px;
    }
}
/* mediaQ for tablet / ipad pro */
@media only screen and (max-width: 1024px) and (min-width: 900px) {
    img {
        height: 700px;
        width: 400px;
        
    }
    .productDescription {
       
        font-size: 20px;  
    }
    .titleOfProduct {
    
        font-size: 60px;
    }
    .startViewButton {      
        width: 50vw;
        height: 6vh;
        font-size: 30px;
    }
    h3 {
        font-size: 30px;
    }
    #headerTag {
        
        font-size: 60px;
    }
    #iconCart {
        font-size: 50px;      
        margin-right: 5px;
    }
    
    #purchase {     
        font-size: 60px;
        margin-right: 5px;
    }
    .priceOfProduct {
        font-size: 30px;
    }
  
}

/* log-in and register styling */
#signinIcon {
    font-size: 25px;
    color: #FFFFFF;
    margin-right: 5px;
    
}

#signinIcon:hover {
    cursor: pointer;
    font-size: 30px;
}

nav {
    padding-top: 80px;
    width: 100vw;
    display: none;
}

.nav-item {
    width: 10vw;
    height: 8vh;
    margin-left: 2px;
    border: none;
    border-radius: 5px;
    font-family: cursive;
    color: white;
    background-color: #212121
}

.nav-item:hover {
    background-color: black;
}

#close-menu {
    width: 31vw;
    margin-top: 2px;
    height: 4vh;
    border: none;
    border-radius: 5px;
    font-family: cursive;
    color: white;
    background-color: #212121
}

#close-menu:hover {
    background-color: black;
}

#menu {
    display: flex;
    width: 100vw;
    justify-content: center;
}



section {
    display: none;
    padding-top: 100px;
    
}

#closebtn {
    margin-top: 10px;
    width: 8vw;
    height: 5vh; 
    border: none;
    border-radius: 5px;
    font-family: cursive;
    color: white;
    background-color: rgba(128, 0, 0, 0.781);
}

#flexitem {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: auto;
}

#registerButton {
    margin-top: 10px;
    width: 8vw;
    height: 5vh; 
    border: none;
    border-radius: 5px;
    font-family: cursive;
    color: white;
    background-color:  #212121
}

#loginButton { 
    width: 5vw;
    height: 5vh; 
    border: none;
    border-radius: 10px;
    font-family: cursive;
    color: white;
    background-color:  #212121
}

input {
    padding: 5px;
    border: solid;
    border-width: 1px;
    border-radius: 5px;
}

button:hover {
    cursor: pointer;
}

#registerUsername {
    margin: 5px;
}

.formHeader {
    color: #212121;
}
