body {
    margin: 0;
    background-color: #FFFFFF;
}

* {
    box-sizing: border-box;
}

  /* NAVBAR STYLING */
#header {
    background-color: #212121;
    display: flex;
    height: 60px;
    width: 100vw;
    position: fixed;

}

#logo {
    display: flex;
    flex-grow: 6;
    justify-content: flex-start;
    align-items: center;
    margin: 5px;
    color: #FFFFFF;
}

h1 {
    color: #FFFFFF;
}


 a {
     text-decoration: none;
 }


#logodiv {
    display: flex;
    flex-grow: 1;
    justify-content: flex-end;
    align-items: center;
}

i {
    font-size: 30px;
    color: #FFFFFF;
    margin-right: 5px;
}

#purchase {
    color: #FFFFFF;
}


/* END OF NAVBAR STYLING */

/* Start of Main styling / Products. */

main {
    display: flex;
    padding: 50px;
}

.productCardContainer {
    width: 100vw;
    height: 90vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
    background-color: #FFFFFF;
    align-items: center;
    flex-wrap: wrap;
    
    
}

.productCard {
    width: 20vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px;
      
}

.productDescription {
    text-align: center;
    color: #212121;
    font-weight: bold;
    margin: 10px;
    font-size: 12px;
    
}

.priceOfProduct {
    text-align: center;
    color: #212121;
    margin: 10px;
}

img {
    height: 340px;
    width: 200px;
    object-fit: contain;
    background-position: center;
    

}

.titleOfProduct {
    color: #212121;
    text-align: center; 
    margin: 0px;
}


/* START OF BUTTONSTYLING STARTVIEW */

.startViewButton {
    display: flex;
    background-color: #5596F5;
    color: #FFFFFF;
    border-radius: 8px;
    border: none;
    padding: 6px 15px;
    align-items: center;

}

